{{> message}}
<h1>Administration</h1>
<div class="mb-2">
  <a href="">Products</a> |
  <a href="">Orders</a>
</div>
<form action="/admin/products/add" method="GET">
  <button class="btn btn-primary mb-3" type="submit">Add product</button>
</form>

<table class="table table-striped table-sm">
  <thead class="thead-dark text-center">
    <tr>
      <th>Product id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
      <tr>
        <th class="text-center">{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{formatDollar this.price}}</td>
        <td>
          <div class="d-flex">
            <button class="btn btn-link">
              <a href="/admin/products/{{this.id}}">Show</a>
            </button>
            <button class="btn btn-link">
              <a href="">Edit</a>
            </button>
            <form action="" method="POST">
              <button type="submit" class="btn btn-link">Delete</button>
            </form>
          </div>

        </td>
      </tr>
    {{/each}}
  </tbody>
</table>