<main class="product-show d-flex flex-column align-items-center">
  {{#each orders}}
    <div class="d-flex w-100 flex-wrap mb-5">
      <table class="table mr-5" style="flex-basis: 60%;">
        <thead>
          <tr>
            <th scope="col">Order details</th>
            <th scope="col">Quantity</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.items}}
            <tr>
              <td>
                <a href="/products/{{this.ProductId}}">{{this.productName}}</a>

              </td>
              <td>{{this.quantity}}</td>
              <td>{{formatDollar this.price}}</td>
            </tr>
          {{/each}}
          <tr>
            <td></td>
            <td style="text-align: right;">
              <h4>Total: </h4>
            </td>
            <td>
              <h4>{{formatDollar this.amount}}</h4>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="bg-light p-3" style="width: 350px;">
        <p class="font-weight-bold">
          Order information {{#ifCond this.payment_status -1}} (Cancelled) {{/ifCond}}
        </p>
        <ul>
          <li>Order id: {{this.id}}</li>
          <li>Your email: {{../user.email}}</li>
          <li>Your name: {{this.name}}</li>
          <li>Address: {{this.address}}</li>
          <li>Phone #: {{this.phone}}</li>
          <li>
            shipping_status:
            {{#ifCond this.shipping_status 0}}
              Not shipped yet
            {{/ifCond}}
            {{#ifCond this.shipping_status 1}}
              <strong>shipping</strong>
            {{/ifCond}}
            {{#ifCond this.shipping_status -1}}
              <strong>cancelled</strong>
            {{/ifCond}}
          </li>
          <li>
            payment_status:
            {{#ifCond this.payment_status 0}}
              not paid yet
            {{/ifCond}}
            {{#ifCond this.payment_status 1}}
              <strong>complete payment</strong>
            {{/ifCond}}
            {{#ifCond this.payment_status -1}}
              <strong>cancelled</strong>
            {{/ifCond}}
          </li>
        </ul>
        {{#ifCond this.payment_status 0}}
          <div class="btn-group ml-3">
            <form action="/orders/{{this.id}}/cancel" method="POST"
              onsubmit="return confirm('Are you sure you want to cancel the order?')">
              <button type="submit" class="btn btn-dark btn-sm mr-2">Cancel Order</button>
            </form>
            <a href="/orders/{{this.id}}/payment"><button class="btn btn-sm btn-primary">Payment</button></a>
          </div>
        {{/ifCond}}
      </div>

    </div>
  {{/each}}
</main>