{{> message}}
{{!-- pagination --}}
<nav class="d-flex justify-content-center align-items-center">
  <ul class="pagination flex-wrap">
    <li class=" page-item">
      <a class="page-link" href="/products?page={{prev}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each totalPages}}
      {{!-- if page is on current page, display active --}}
      {{#ifCond this ../currentPage}}
        <li class="page-item active">
          <a class="page-link" href="#">{{this}}</a>
        </li>
    {{else}}
      <li class="page-item">
        <a class="page-link" href="/products?page={{this}}">{{this}}</a>
      </li>
      {{/ifCond}}
    {{/each}}
    <li>
      <a class="page-link" href="/products?page={{next}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<div class="row">
  <form action="/products" class="col-md-3">
    <div class="input-group">
      <input type="text" class="form-control" name="keyword" placeholder="search for product...">
      <div class="input-group-append">
        <button type="submit" class="input-group-text">Search</button>
      </div>
    </div>
  </form>
</div>
{{#ifCond products 'no result'}}
  <h2 class="mt-2">No search result...</h2>
  <a href="/products">go back to products</a>
{{/ifCond}}

<div class="row">
  {{!-- products --}}
  <div class="col-md-8">
    <div class="row">
      {{#each products}}
        <div class="col-md-4 col-sm-12 py-2">
          <div class="card mb-4 shadow-sm h-100">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src={{this.image}}></img>
            <div class="card-body pb-0">
              <p class="card-text">
              <h3 style="font-size: 1.3rem;">
                <a href="/products/{{this.id}}">{{this.id}}. {{this.name}}</a>
              </h3>
              <span>{{this.description}}</span>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">{{formatDollar this.price}}</small>
                <div class="btn-group">
                  <form action="/cart" method="POST">
                    <input type="hidden" name="productId" value="{{this.id}}">
                    <button type="submit" class="btn btn-sm btn-outline-secondary">Add to Cart</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{!-- shopping cart --}}
  <nav class="col-md-4 bg-light p-3 border-top border-bottom">
    <span class="font-weight-bold">Your Cart</span>
    <div class="sidebar-sticky mt-1">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          {{#each cart}}
            <div class="row">
              <div class="col-4 d-flex align-items-center">
                <img src="{{this.image}}" class="img-fluid" alt="...">
              </div>
              <div class="col-8">
                <div class="card-body">
                  <p class="card-title font-weight-bold">{{this.name}}</p>
                  <p>{{formatDollar this.price}}</p>
                  <div class="btn-group">
                    <form action="/cartItem/{{this.cartItemId}}/add" method="POST">
                      <button type="submit" class="btn btn-sm btn-outline-secondary">+</button>
                    </form>
                    <span style="margin: 0 20px;">{{this.quantity}}</span>
                    <form action="/cartItem/{{this.cartItemId}}/sub" method="POST">
                      <button type="submit" class="btn btn-sm btn-outline-secondary">-</button>
                    </form>

                    <form action="/cartItem/{{this.cartItemId}}?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-link">
                        <i class="fas fa-trash"></i>
                      </button>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </li>
      </ul>
      <hr>
      <li class="list-group-item d-flex align-items-center">
        Total: {{formatDollar totalPrice}}
        <a href="/cart">
          <button class="btn btn-sm btn-primary ml-2">Go to Cart</button>
        </a>
        <small class="align-self-end ml-2">Go to cart to place the order!</small>
      </li>
    </div>
  </nav>
</div>